<div [ngClass]="{'list-group-item ': true, 
                 'flex-column  ': true, 
                 'align-items-start ': true, 
                 'list-group-item-success':  post.loveIts > 0,
                 'list-group-item-danger':  post.loveIts < 0}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ post.title }}</h5>
      <small class="text-muted">{{ post.created_at | date }}</small>
    </div>
    <p class="mb-1">{{ post.content }}</p>
    <a [routerLink]="[post.id]">Détails</a>&nbsp;
    <button type="button" class="btn btn-success" (click)="onLoveIt(1)">love it</button>
    &nbsp;
    <button type="button" class="btn btn-danger" (click)="onLoveIt(-1)">don't love it</button>
  </div>